.footer {
  padding: 1.719vw 0;
  background-color: #212229;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    font-size: 0.677vw;
    font-weight: 300;
    line-height: 1.6;
  }

  &__link {
    color: #fbd542;
  }
}

@media (max-width: 900px) {
  .footer {
    padding: 1.7rem 0;

    &__item {
      font-size: 0.8rem;
    }
  }
}