.news {
  padding-top: 0;

  &__wrapper {
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-bot {
      display: flex;
      justify-content: space-between;
    }
  }

  &__btn {
    width: 11.406vw;
    height: 4.479vw;
    border: 1px solid #fbd542;
    background-color: #ffffff;
    box-shadow: none;

    &:hover {
      box-shadow: 0 0.99vw 2.552vw rgba(#fbd542, 0.5), inset 0 0 1.042vw rgba(#fbd542, 0.33);
    }
  }

  &__item {
    width: 32%;

    &-img {
      margin-bottom: 0.783vw;
    }

    &-title {
      margin-bottom: 0.45vw;
    }

    &-text {
      margin-bottom: 0.677vw;
      font-size: 0.833vw;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-date {
      color: #909090;
      font-size: 0.833vw;
    }

    &-btn {
      font-size: 0.833vw;
      width: 9.115vw;
      height: 2.865vw;
      background-color: #fbd542;
      box-shadow: none;

      &-img {
        margin-left: 0.521vw;
        margin-top: 0.208vw;

        img {
          max-width: 0.417vw;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .news {
    &__btn {
      width: 11rem;
      height: 4rem;
    }

    &__item {
      &-img {
        margin-bottom: 1rem;
      }

      &-title {
        margin-bottom: 0.5rem;
      }

      &-text {
        margin-bottom: 0.5rem;
        font-size: 1rem;
      }

      &-date {
        font-size: 1rem;
      }

      &-btn {
        font-size: 1rem;
        width: 9rem;
        height: 3rem;

        &-img {
          margin-left: 0.5rem;
          margin-top: 0.3rem;

          img {
            max-width: 0.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .news {
    padding-bottom: 1rem;

    &__wrapper {
      &-bot {
        flex-wrap: wrap;
      }
    }

    &__item {
      margin-bottom: 2rem;
      width: 48%;
    }
  }
}

@media (max-width: 567px) {
  .news {
    &__wrapper {
      &-bot {
        justify-content: center;
      }
    }

    &__item {
      width: 90%;
    }
  }
}
