.reviews {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__title {
    max-width: 52.083vw;
  }

  &__inner {
    padding: 1.823vw 0 1vw 5.677vw;
    padding-right: 0;
    background: #212229 url("../img/exp/exp-bg.png") center no-repeat;
    border-radius: 1.302vw 0 0 1.302vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__wrapper {
    position: relative;
  }

  &__slider {
    position: relative;
    max-width: 62.500vw;
    z-index: 1;

    &-item {
      cursor: pointer;
    }

    &-arrow {
      position: absolute;
      width: 5.521vw;
      height: 5.521vw;
      border: 0.781vw solid #ffffff;
      background-color: #e4e4e4;
      transition: .2s;
      border-radius: 50%;
      cursor: pointer;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);

      img {
        max-width: 0.833vw;
      }

      &:hover {
        background-color: #fbd542;
      }

      &--prev {
        left: -8.5vw;
      }

      &--next {
        right: -9vw;
      }
    }

    &--bot {
      width: 60vw;
      position: absolute;
      right: -40vw;
      top: 0;
      opacity: .5;

      .slick-slide {
        img {
          height: 25.885vw;
        }
      }
    }
  }

  &__bg {
    position: absolute;
    left: -5vw;
    top: -8.1vw;

    img {
      max-width: 28.490vw;
    }
  }
}

@media (max-width: 900px) {
  .reviews {
    &__title {
      max-width: 50rem;
    }

    &__inner {
      padding: 1.8rem 8rem 1rem 5rem;
      border-radius: 2.5rem 0 0 2.5rem;
    }

    &__slider {
      max-width: 57rem;

      &-arrow {
        width: 5.5rem;
        height: 5.5rem;
        border-width: 0.7rem;

        img {
          max-width: 0.8rem;
        }

        &--prev {
          left: -8rem;
        }

        &--next {
          right: -6rem;
        }
      }

      &--bot {
        display: none;
      }
    }

    &__bg {
      left: -5rem;
      top: -8rem;

      img {
        max-width: 28rem;
      }
    }
  }
}

@media (max-width: 767px) {
  .reviews {
    &__slider {
      max-width: 40rem;

      &-arrow {
        &--next {
          right: -4rem;
        }
      }
    }

    &__bg {
      display: none;
    }
  }
}

@media (max-width: 567px) {
  .reviews {
    &__inner {
      padding: 1rem;
    }

    &__slider {
      max-width: 24rem;

      &-arrow {
        width: 4.5rem;
        height: 4.5rem;
        border-width: 0.5rem;

        &--prev {
          left: -3.2rem;
        }
      }
    }
  }
}
