.steps {
  padding-top: 0;
  padding-bottom: 0;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    max-width: 56.94vw;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: 3.438vw;
    text-align: center;
    width: 23%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      content: '';
      width: 2.604vw;
      height: 2.604vw;
      border-radius: 50%;
      border: 0.521vw solid #ffffff;
      background-color: #fbd542;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -2.5vw;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 1.250vw;
    }

    &:nth-child(1)::before {
      content: '1';
    }

    &:nth-child(2)::before {
      content: '2';
    }

    &:nth-child(3)::before {
      content: '3';
    }

    &:nth-child(4)::before {
      content: '4';
    }

    &:nth-child(5)::before {
      content: '5';
    }

    &:nth-child(6)::before {
      content: '6';
    }

    &:nth-child(7)::before {
      content: '7';
    }

    &:nth-child(8)::before {
      content: '8';
    }

    &-img {
      margin-bottom: 0.863vw;
    }

    &-title {
      max-width: 11.719vw;
      font-size: 1.042vw;
      font-weight: 500;
    }
  }
}

@media (max-width: 900px) {
  .steps {
    &__title {
      max-width: 56rem;
    }

    &__item {
      margin-bottom: 3rem;

      &::before {
        width: 2.5rem;
        height: 2.5rem;
        border-width: 0.5rem;
        top: -2rem;
        font-size: 1.2rem;
      }

      &-img {
        margin-bottom: 1rem;
      }

      &-title {
        max-width: 12rem;
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 767px) {
  .steps {
    &__item {
      width: 31%;
    }
  }
}

@media (max-width: 567px) {
  .steps {
    &__wrapper {
      justify-content: center;
    }

    &__item {
      width: 90%;
    }
  }
}
