.vantage {
  padding-top: 0;
  padding-bottom: 2vw;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  &__title {
    max-width: 48.594vw;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__img {
    margin-right: 2.083vw;
    max-width: 8.021vw;
  }

  &__check {
    width: 2.188vw;
    height: 2.188vw;
    border-radius: 50%;
    border: 0.365vw solid #ffffff;
    background-color: #fbd542;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1.7vw;
    left: 50%;
    transform: translateX(-50%);

    img {
      max-width: 0.625vw;
    }
  }

  &__item {
    margin-bottom: 3.958vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 22.188vw;
    height: 10.417vw;

    &-text {
      width: 12.083vw;
    }

    &-bg {
      position: absolute;
      z-index: -1;
      width: 30.208vw;
      height: 14.583vw;
    }
  }

  &__arrow {
    position: absolute;
    top: -12.4vw;
    left: 6.6vw;
    max-width: 6.510vw;
  }
}

@media (max-width: 900px) {
  .vantage {
    padding-bottom: 2rem;

    &__wrapper {
      justify-content: center;
    }

    &__title {
      max-width: 40rem;
    }

    &__img {
      margin-right: 2rem;
      max-width: 8rem;
    }

    &__check {
      width: 2rem;
      height: 2rem;
      border-width: 0.4rem;
      top: -1.7rem;

      img {
        max-width: 0.6rem;
      }
    }

    &__item {
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 4rem;
      width: 22rem;
      height: 10rem;

      &-text {
        width: 12rem;
      }

      &-bg {
        width: 28rem;
        height: 14rem;
      }
    }

    &__arrow {
      top: -12rem;
      left: 6rem;
      max-width: 8rem;
    }
  }
}

@media (max-width: 767px) {
  .vantage {
    &__arrow {
      display: none;
    }
  }
}